<footer>
    <p>
        This project was coded by
        <a href="https://github.com/kashiakashia" target="_blank">Katarzyna Smelcerz</a> ✨ and is
        <a href="https://github.com/kashiakashia/Website_MQTT_Publisher_Subscriber" target="_blank"> on
            GitHub</a> and
        <a href="https://mqtt-sub-pub.netlify.app/" target="_blank">hosted on Netlify</a>
    </p>
</footer>